<div class="col-md-4">
</div>
<div class="col-md-4">
  <center>
    <h5>Регистрация</h5>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

        <%= f.input :email, autofocus: true, autocomplete: "email" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> символов минимум)</em>
        <% end %>
        <%= f.input :password, label: "Пароль", autocomplete: "off" %>
        <%= f.input :password_confirmation, label: "Подтверждение пароля", autocomplete: "off" %>
        <%= f.submit "Регистрация", class: "btn btn-success" %>
    <% end %>

<%= render "devise/shared/links" %>
