<%= simple_form_for(article) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
 
      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

    <%= f.input :title %>
    <%= f.text_area :body, class: "markdown-input toolbar", rows: 10, cols: 70 %>
    <br>
   

 
  <button class="btn btn-primary" type="submit"> Update article </button>
  <br>
  <br>
<% end %>