<div class="articles-show">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>

  <div class="article-body">
    <strong>Body:</strong>
    <%= markdown @article.body %>
  </div>

  <p>
    <strong>Writer:</strong>
    <li>
    	<%= link_to account_path(@article.user) do %>
         <%= @article.user.name %>
      <% end %>  	
    </li>    
  </p>
  <% if policy(@article).update? %>
  	<%= link_to 'Edit', edit_article_path(@article) %> |
  <% end %>

  <% if policy(@article).destroy? %>
  	<%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
  <%= link_to 'Back', articles_path %>
</div>