<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to 'itransition news', root_path, class: 'navbar-brand' %>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="search-form">
        <%= form_tag("/articles", method: :GET) do %>
          <%= text_field_tag :query, params[:query] %>
          <%= submit_tag("Search") %>
        <% end %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if policy(:admin).show? %>
        <li><%= link_to "administrate", admin_users_path %></li>
        <% end %>

        <% if policy(Article).create? %>
          <li><%= link_to 'New article', new_article_path %></li>
        <% end %>

        <% if user_signed_in? %>
          <li>
            <%= link_to account_path("me") do %>
              <%= current_user.email %>
          </li>
        <% end %>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>